* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: black;
  scrollbar-width: thin;
  scrollbar-color: black #202c33;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a.active {
  border-bottom: 1px solid #ffbd39;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem 0 4rem;
  height: 60px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 20;
}

header #name {
  font-size: 35px;
  font-weight: 700;
}

#header-right {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

#header-right a {
  font-size: 22px;
  color: white;
}

#header-right a:hover {
  border-bottom: 2px solid #ffbd39;
}

#home-section {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-evenly;
  min-height: calc(100vh - 100px);
}

#home-section-left {
  width: 40%;
}

#home-section-right {
  display: flex;
  justify-content: center;
  width: 40%;
}

#home-section-right img {
  width: 70%;
  height: 350px;
  border-radius: 50%;
  border: solid;
}

#home-section-bottom {
  text-align: center;
}

#home-section-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

#home-section-btns i {
  font-size: 30px;
  cursor: pointer;
  color: #1788ae;
}

#home-section-btns i:hover {
  color: #1788ae;
}

#home-section-btns a {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 18px;
}

#about {
  padding: 3rem 0 0 0;
}

#about-para {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 18px;
  text-align: center;
}

#about-para i {
  width: 70%;
}

#about-heading {
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  border-right: 2px solid #ffbd39;
  border-bottom: 2px solid #ffbd39;
  border-left: 2px solid #ffbd39;
  border-radius: 15px;
  cursor: pointer;
}

#about-heading:hover + #about-arrow {
  transform: translateY(8px);
}

#about-arrow {
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}

#about-arrow:hover {
  transform: translateY(8px);
}

#about-section {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  margin-top: 2rem;
}

#about-section p {
  line-height: 1.5rem;
  margin-bottom: 7px;
  font-size: 18px;
}

#about-left {
  width: 40%;
}

#about-right {
  width: 45%;
}

#about-right img {
  width: 100%;
}

#experience button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
}

#projects-section {
  padding: 3rem 0 0 0;
}
#projects-section h1 {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  border-right: 2px solid #ffbd39;
  border-bottom: 2px solid #ffbd39;
  border-left: 2px solid #ffbd39;
  border-radius: 15px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem 0 3rem;
}

.odd-projects .projects-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.odd-projects .projects-right {
  width: 40%;
  margin: auto;
}

.even-projects .projects-left {
  width: 40%;
  margin: auto;
}

.even-projects .projects-right {
  width: 50%;
  display: flex;
  align-items: center;
}

.project-info {
  margin-top: 8px;
}

.odd-projects .projects-left a,
.even-projects .projects-right a {
  width: 60%;
}

.project-info .btns button {
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 30px;
}

.projects-img {
  background-color: transparent;
  width: 100%;
  filter: drop-shadow(0 0px 60px rgba(59, 130, 246, 0.6));
  margin: auto;
}

.project-info .info p {
  line-height: 1.2rem;
  font-size: 14px;
  opacity: 0.7;
}

.projects-img:hover {
  box-shadow: 5px 5px 40px black;
  cursor: pointer;
}

.vertical-line {
  width: 2px;
  height: 300px;
  background-color: #ffbd39;
}

.horizontal-line {
  height: 2px;
  width: 30%;
  background-color: #ffbd39;
}

.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #1788ae;
}

#stack-wrapper {
  display: flex;
  gap: 20px;
}

.mern {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-section {
  padding: 3rem 0;
}

#contacts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 30px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-icon-box {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid white;
}

.contact-icon-box i {
  color: #ffbd39;
  font-size: 30px;
}

#connect-section {
  padding: 3rem 0;
}

#connect-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#connect-section-left,
#connect-section-right-wrapper {
  width: 45%;
}

#connect-section-right {
  width: 100%;
}

#connnect-img {
  width: 80%;
  background-color: transparent;
}

#connect-section-right input {
  width: 90%;
  padding: 3px 10px;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 18px;
}

#connect-section-right textarea {
  width: 90%;
  height: 120px;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 18px;
  padding: 0 10px;
}

#connect-section-right .group {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

#connect-section-right .group label {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 5px;
}

#connect-section-heading {
  border: 1px solid #ffbd39;
  border-radius: 5px;
  padding: 8px 15px;
  width: fit-content;
  margin: 0 auto 30px;
}

#connect-form-btn {
  padding: 8px 18px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 15px;
  color: #ffbd39;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

footer #social-icons a {
  font-size: 25px;
  margin-right: 20px;
}

#header-right .active-nav-link {
  color: #ffbd39;
  border-bottom: 1px solid #ffbd39;
}

.blue {
  color: #1788ae;
}

.yellow {
  color: #ffbd39;
}

/* Media Queries */
@media screen and (max-width: 1080px) {
  #home-section-right img {
    width: 80%;
  }
  #connect-img {
    height: 330px;
  }
  .projects-img {
    height: 200px;
  }
}

@media screen and (max-width: 1050px) {
  #about-section {
    flex-direction: column;
    align-items: center;
  }
  #about-left,
  #about-right {
    width: 80vw;
  }
  #about-right h2 {
    margin: 1rem 0;
  }
  #services-container div {
    margin-bottom: 1rem;
    border: solid;
  }
}

@media screen and (max-width: 800px) {
  header {
    padding: 2rem;
  }
  #home-section-left {
    width: 43%;
  }
  .odd-projects .projects-left,
  .even-projects .projects-right {
    width: 100%;
    justify-content: center;
  }

  .even-projects .projects-left,
  .odd-projects .projects-right {
    width: 90%;
    margin-bottom: 2rem;
  }
  #about-para i {
    width: 90%;
  }

  .odd-projects .projects-left {
    order: 1;
  }

  .projects-img {
    width: 100%;
  }

  .horizontal-line,
  .circle,
  .vertical-line {
    display: none;
  }
  #connect-img {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px 5px;
  }
  #home-section-left {
    width: 80%;
  }
  #home-section-right {
    display: none;
  }
  #about-left {
    width: 90vw;
  }
  #about-right {
    width: 90vw;
  }
  .contact {
    width: 40%;
    margin-bottom: 2rem;
  }
  #connect-section-left {
    display: none;
  }
  #connect-wrapper {
    justify-content: center;
  }
  #connect-section-right-wrapper {
    width: 70%;
    display: flex;
    justify-content: center;
  }
  #connect-section-right input {
    width: 90%;
  }
  #connect-section-right textarea {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  #connect-section-right-wrapper {
    width: 90%;
  }
  #about-para {
    font-size: 14px;
    width: 98%;
  }
  #services-container {
    justify-content: center;
  }
  #about-right h2 {
    text-align: center;
  }
  #services-container div {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  #home-section-left {
    width: 95%;
    gap: 5px;
  }
  #about-right {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  /* header {
        padding: 5px;
    } */
  #home-section-left {
    gap: 0px;
  }

  .contact {
    width: 90%;
  }
}
